In [1]:
import pandas
import bqplot.pyplot as plt
import ipywidgets

In [2]:
datos = {
    'dia': 'Lunes Martes Miercoles Jueves Viernes'.split(),
    'hora': [9, 9.2, 8, 8.5, 7.2],
}
datos

{'dia': ['Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes'],
 'hora': [9, 9.2, 8, 8.5, 7.2]}

In [3]:
df = pandas.DataFrame(datos)
df

         dia  hora
0      Lunes   9.0
1     Martes   9.2
2  Miercoles   8.0
3     Jueves   8.5
4    Viernes   7.2

In [4]:
ax = plt.plot(x=df.index,y=df.hora,marker_str='sr')
plt.show()

VBox(children=(Figure(axes=[Axis(scale=LinearScale()), Axis(orientation='vertical', scale=LinearScale())], figâ€¦